---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="Imprint">
  <div class="mx-auto max-w-2xl text-white">
    <Link href="/"> 🔙 Back to home</Link>
    <p>May Solutions UG (haftungsbeschränkt)</p>
    <p>Ella-Bergmann-Michel-Str. 3, 60438, Frankfurt am Main</p>
    <p>Geschäftsführer: Minh Chi Nguyen</p>
    <Link href="mailto:contact@may-solutions.io">contact@may-solutions.io</Link>
    <p>Registergericht Amtsgericht Frankfurt am Main HRB 135446</p>
    <p>USt-IDnr: DE370068156</p>
  </div>
</Layout>
