---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import Globe from "../components/Globe.vue";
import Technologies from "../components/Technologies.vue";
---

<Layout title="May Solutions">
  <main class="relative mx-auto flex min-h-dvh flex-col items-center bg-transparent py-4 md:p-0">
    <section class="flex h-[75vh] flex-col items-center pt-48">
      <div class="fixed inset-0 -z-10 mx-auto h-screen bg-[url('/hero.webp')] bg-cover bg-center bg-no-repeat blur-3xl">
      </div>

      <h1
        class="bg-gradient-to-t from-slate-900/50 to-white bg-clip-text py-4 text-center text-6xl font-semibold tracking-wider text-transparent drop-shadow-lg md:text-7xl">
        May Solutions
      </h1>
      <h2
        class="text-primary z-10 mt-4 text-center text-xl font-normal uppercase tracking-wide text-gray-400 md:text-2xl md:font-thin">
        EXCELLENCE. EXPERTISE. EFFICIENCY.
      </h2>
    </section>

    <section class="relative flex flex-col items-center bg-gray-950 pb-[500px] xl:pb-40">
      <div class="grid grid-cols-1 gap-10 pt-14 md:grid-cols-2">
        <div class="relative">
          <Globe class="z-0 mx-auto pt-72 md:pt-0" client:only   />
        </div>
        <div class="z-10 flex flex-col gap-4 p-4 text-xl text-gray-400 md:p-20">
          <h3 class="text-primary pt-0 text-3xl font-semibold md:pt-10 md:text-5xl">
            Located in the central of Europe - Frankfurt
          </h3>
          <p class="text-left text-lg">
            Our headquarters are strategically situated in Frankfurt, a central hub of business and culture in Europe,
            ensuring easy access and connectivity for our clients and partners.
          </p>
        </div>
      </div>
    </section>

    <section
      class="relative w-full bg-gradient-to-br from-gray-950/20 from-20% via-gray-900 via-50% to-gray-950/30 to-80% py-40">
      <div class="bg-grid absolute inset-0"></div>
      <h3 class="text-primary z-10 px-4 py-10 text-center text-3xl font-semibold tracking-tighter md:text-5xl">
        OUR WORKS HAVE BEEN TRUSTED BY
      </h3>
      <p class="px-4 text-left text-lg text-gray-400 md:text-center xl:px-40">
        We are proud to have helped implement solutions for leading companies across various sectors. Our commitment to
        excellence and customer satisfaction has made us a valuable partner to our clients.
      </p>
      <div
        class="mx-auto grid w-full max-w-6xl grid-cols-1 place-items-center gap-8 px-4 py-14 text-gray-300 xl:grid-cols-3">
        <a
          href="https://www.soka-bau.de/"
          target="_blank"
          class="z-10 w-full text-2xl hover:text-gray-200 md:text-3xl lg:text-4xl">
          <Card title="" body="SOKA-BAU" center />
        </a>
        <a
          href="https://www.mercedes-benz.io/"
          target="_blank"
          class="z-10 w-full text-2xl hover:text-gray-200 md:text-3xl lg:text-4xl">
          <Card title="" body="Mercedes-Benz.io" center nowrap />
        </a>
        <a
          href="https://www.lbbw.de"
          target="_blank"
          class="z-10 w-full text-2xl hover:text-gray-200 md:text-3xl lg:text-4xl">
          <Card title="" body="LBBW" center={true} />
        </a>
      </div>
    </section>

    <section class="relative px-4 py-40 md:px-40">
      <h3
        class="text-primary z-10 px-4 py-10 pb-[250px] text-center text-3xl font-semibold tracking-tighter md:text-5xl">
        OUR SERVICES
      </h3>
      <Technologies client:only />
      <div class="grid grid-cols-1 gap-10 pt-14 xl:grid-cols-3">
        <Card
          title="WEB DEVELOPMENT"
          body="We offer tailored solutions using the latest technologies and best practices. We deliver high-quality, scalable, and secure web solutions to help drive your business forward."
        />

        <Card
          title="CONSULTING"
          body="We provide expert guidance to help you navigate the complexities of technology and achieve your business objectives. We offer strategic advice, planning and implementation support to ensure your project is optimized for success."
        />
        <Card
          title="AGILITY"
          body="Our agile development approach ensures fast and flexible delivery of high-quality software solutions. We adapt to your needs and changes quickly, ensuring your project stays on track and meets your business goals."
        />
      </div>
    </section>

    <section class="flex flex-col items-center pb-40 pt-20">
      <h3 class="text-primary z-10 px-4 py-4 text-center text-3xl font-bold tracking-tighter md:text-5xl">
        CONTACT US
      </h3>
      <Link href="mailto:contact@may-solutions.io">
        <span class="text-lg text-gray-400 underline hover:text-sky-500">📨 contact@may-solutions.io</span>
      </Link>
    </section>
  </main>

  <footer
    class="border-px relative bottom-0 left-0 mx-auto flex justify-center border-t border-solid border-gray-500/20 p-2">
    <Link href="/impressum">Imprint</Link>
  </footer>
</Layout>

<style is:global>
  .text-primary {
    @apply bg-gradient-to-t from-slate-400 to-white bg-clip-text text-transparent;
  }
  .bg-grid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    mask: linear-gradient(150deg, transparent 10%, white);
  }
</style>
