---
import Layout from '../layouts/Layout.astro';
---

<Layout title="May Solutions">
  <main class="mx-auto flex min-h-dvh max-w-4xl flex-col items-center bg-white">
    <h1 class="mt-16 py-4 text-6xl font-bold tracking-wider text-gray-800">May Solutions</h1>
    <h3 class="text-2xl text-gray-600">We may have solutions for you.</h3>
    <div class="flex-grow"></div>
    <div class="mx-auto">
      <p>May Solutions UG (haftungsbeschränkt)</p>
      <p>Ella-Bergmann-Michel-Str. 3, 60438, Frankfurt am Main</p>
      <p>Geschäftsführer: Minh Chi Nguyen</p>
      <a class="text-blue-500 underline decoration-dotted hover:text-blue-700" href="mailto:contact@may-solutions.io"
        >contact@may-solutions.io</a
      >
      <p>Registergericht Amtsgericht Frankfurt am Main HRB 135446</p>
    </div>
  </main>
</Layout>
