---
interface Props {
  title: string;
  body: string;
  center?: boolean;
  nowrap?: boolean;
}

const { nowrap = false, center = false, title, body } = Astro.props;
---

<div
  class="animate w-full rounded-xl bg-gradient-to-br from-gray-400 from-5% via-gray-600 via-20% to-gray-800 to-90% p-px text-white shadow-xl hover:cursor-pointer ">
  <div class="flex h-full flex-col rounded-[calc(0.75rem_-_1px)] bg-gray-950/90 p-8">
    {title && <h2 class="text-primary pb-4 text-xl tracking-wide md:text-2xl">{title}</h2>}
    <p class={"mb-auto font-normal md:font-thin text-gray-400 " + (center ? "text-center " : "") + (nowrap ? "whitespace-nowrap" : "")}>
      {body}
    </p>
  </div>
</div>

<style is:global>
  .animate:hover {
    animation: Gradient 0.5s ease-in forwards;
  }
  @keyframes Gradient {
    0% {
      --tw-gradient-from-position: 0;
      --tw-gradient-via-position: 20%;
    }
    2.5% {
      --tw-gradient-from-position: 2.5%;
      --tw-gradient-via-position: 22.5%;
    }
    5% {
      --tw-gradient-from-position: 5%;
      --tw-gradient-via-position: 25%;
    }
    7.5% {
      --tw-gradient-from-position: 7.5%;
      --tw-gradient-via-position: 27.5%;
    }
    10% {
      --tw-gradient-from-position: 10%;
      --tw-gradient-via-position: 30%;
    }
    12.5% {
      --tw-gradient-from-position: 12.5%;
      --tw-gradient-via-position: 32.5%;
    }
    15% {
      --tw-gradient-from-position: 15%;
      --tw-gradient-via-position: 35%;
    }
    17.5% {
      --tw-gradient-from-position: 17.5%;
      --tw-gradient-via-position: 37.5%;
    }
    20% {
      --tw-gradient-from-position: 20%;
      --tw-gradient-via-position: 40%;
    }
    22.5% {
      --tw-gradient-from-position: 22.5%;
      --tw-gradient-via-position: 42.5%;
    }
    25% {
      --tw-gradient-from-position: 25%;
      --tw-gradient-via-position: 45%;
    }
    27.5% {
      --tw-gradient-from-position: 27.5%;
      --tw-gradient-via-position: 47.5%;
    }
    30% {
      --tw-gradient-from-position: 30%;
      --tw-gradient-via-position: 50%;
    }
    100% {
      --tw-gradient-from-position: 30%;
      --tw-gradient-via-position: 50%;
    }
  }
</style>
