---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  class="focus:ring-offset-background rounded-sm text-gray-300 underline-offset-2 transition-all hover:cursor-pointer hover:underline focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
>
  <slot />
</a>
